// stylelint-disable custom-property-empty-line-before

//
// Base styles
//

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: $font-family-lanekcut;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0.6;
  color: $body-color;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $border-width solid transparent;
  @include transition($transition-base);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% auto;

  &:focus-active,
  &:focus,
  &:hover {
    outline: 0;
  }

  @include media-breakpoint-up(sm) {
    @include padding(1rem 3rem);
    @include font-size(3rem);
  }
}

.btn-outline-dark {
  border-color: $dark;
  color: $dark;
  background: $bg-btn-yellow no-repeat center center / 0 0;

  &:hover:not(.active) {
    color: $dark;
    background-size: 500px 500px;
  }

  &.active {
    color: $white;
    background: $bg-btn-red no-repeat center center / 500px 500px;
  }

  &.reverse {
    background-size: 500px 500px;

    &:hover:not(.active) {
      color: $dark;
      background-size: 0 0;
    }
  }
}

.btn-filter {
  padding: 0;

  span {
    position: relative;
    display: block;
    width: 3rem;
    height: 3px;
    background: $body-color;
    margin: 3px 0;
    border-radius: 3px;

    &:before {
      content: "";
      display: block;
      background: $body-color;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      top: -1.5px;
      left: 2rem;
    }

    &:first-child {
      &:before {
        left: 1rem;
      }
    }

    &:last-child {
      &:before {
        left: 0.4rem;
      }
    }
  }
}

.btn-delete {
  background: escape-svg(
      url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.56 397.81"><path d="M156.73,0a63.39,63.39,0,0,0-39.22,13.62c-8.79,6.7-14.23,12.18-23.39,15.83a14.43,14.43,0,0,0-8.87,8.44H0V66.3H312.56V37.89H227.31a14.43,14.43,0,0,0-8.87-8.44c-9.25-3.67-15-9.22-23.68-15.83S173.56,0,156.72,0Zm0,28.41c10.44.59,16.35,4.42,22.93,9.48H132.6c8.32-6.4,17-9.41,24.12-9.48ZM14.21,75.77V341.12c0,16.55,4.3,31.45,14.8,41.89s25.51,14.8,42.18,14.8H241.68c16.49,0,31.46-4.37,41.88-14.8s14.8-25.34,14.8-41.89V75.77Zm28.41,28.42H269.94V341.13c0,11.79-2.77,18.15-6.51,21.9s-10,6.36-21.75,6.36H71.19c-12,0-18.29-2.76-22.06-6.51s-6.51-10-6.51-21.75Zm33.15,47.36V322h28.42V151.55Zm66.3,0V322h28.42V151.55Zm66.3,0V322h28.42V151.55Z"/></svg>')
    )
    no-repeat center center / auto 1.4rem;
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
}

.quantity-wrap {
  display: flex;
  border: 2px solid $gray-500;
  width: 10.4rem;
  border-radius: 2.5rem;

  button {
    border: 0;
    background: none;
    padding: 0;
    flex: 0 0 3rem;
    max-width: 3rem;
    font-size: 2.2rem;
    line-height: 1;
    text-align: center;
  }

  input {
    background: none;
    border: none;
    flex: 0 0 4rem;
    max-width: 4rem;
    text-align: center;
    justify-content: center;
    height: 3.6rem;
    font-family: $font-family-lanekcut;
    font-size: 2.2rem;

    &:focus-visible {
      outline: 0;
    }
  }
}

.card-product-cart {
  @include media-breakpoint-between(xxs, xs) {
    .quantity-wrap {
      width: 9.4rem;

      input {
        flex: 0 0 3rem;
        max-width: 3rem;
        height: 3rem;
      }
    }
  }
}
