.page {
  min-height: 100vh;
}

.section-bordered-content {
  @include global-border;
  @include padding(7rem);
  background: $light;
}

.sticky-spacing {
  @include media-breakpoint-up(md) {
    top: 200px;
  }

  @include media-breakpoint-up(lg) {
    top: 150px;
  }
}
