.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

// scss-docs-start collapse-classes
.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);

  &.collapse-horizontal {
    width: 0;
    height: auto;
    @include transition($transition-collapse-width);
  }
}
// scss-docs-end collapse-classes

.scale-element-leave-active {
  @include transition(all 0.1s cubic-bezier(0.75, 0.25, 0.13, 0.92));
}

.scale-element-enter-active {
  @include transition(all 0.15s 0.1s cubic-bezier(0.75, 0.25, 0.13, 0.92));
}

.scale-element-enter-from,
.scale-element-leave-to {
  transform: scale(0);
}

.scale-element-enter-to,
.scale-element-leave-from {
  transform: scale(1);
}